.background {

  &__svg-puddle {
    color: $color-ucla-gold;
    position: absolute;
    z-index: -6;
  }

  &__svg-puddle--right {
    width: 1453px; 
    height: 1750px; 
    left: calc(50% + 236px);
    top: -275px;

    @include vp-laptop {
      width: 1024px; 
      height: 1234px; 
      left: calc(50% + 167px);
      top: -190px;
    }

    @include vp-tablet {
      width: 737px;
      height: 912px;
      top: 103px;
      left: calc(50% + 20px);
    }

    @include vp-mobile {
      width: 453px;
      height: 561px;
      top: 50px;
      left: calc(50% + 40px);
    }
  }

  &__svg-puddle--left {
    width: 1230px; 
    height: 1380px; 
    left: calc(50% - 1728px);
    top: 1019px;

    @include vp-laptop {
      display: none;
    }
  }

  &__svg-puddle--left-for-laptop {
    display: none;

    @include vp-laptop {
      display: unset;
      width: 820px; 
      height: 935px; 
      left: calc(50% - 1196px);
      top: 701px;
    }
  }

  &__img {
    z-index: -6;
    position: absolute;
  }

  &__img--heading-corns {
    width: 900px;
    height: 773px;
    top: 192px;
    left: calc(50% - 158px);

    @include vp-laptop {
      width: 637px;
      height: 550px;
      top: 135px;
      left: calc(50% - 113px)
    }

    @include vp-tablet {
      width: 714px;
      height: 616px;
      top: 381px;
      left: calc(50% - 218px)
    }

    @include vp-mobile {
      width: 439px;
      height: 378px;
      top: 228px;
      left: calc(50% - 75px)
    }
  }

  &__img--left-corns {
    width: 674px;
    height: 674px;
    top: 1547px;
    left: calc(50% - 1276px);
    filter: blur(5px);

    @include vp-laptop {
      width: 477px;
      height: 477px;
      left: calc(50% - 904px);
      top: 1096px;
      filter: blur(3.5px);
    }

    @include vp-tablet {
      width: 509px;
      height: 509px;
      left: calc(50% - 625px);
      top: 1672px;
      filter: blur(5px);
    }

    @include vp-mobile {
      width: 249px;
      height: 249px;
      left: calc(50% - 306px);
      top: 1056px;
      filter: blur(2.5px);
    }
  }

  &__img--cup {
    width: 744px;
    height: 496px;
    z-index: -3;
    left: calc(50% - 46px);
    top: 267px;

    @include vp-laptop {
      width: 525px;
      height: 350px;
      left: calc(50% - 34px);
      top: 189px;      
    }

    @include vp-tablet {
      width: 524px;
      height: 393px;
      left: calc(50% - 140px);
      top: 446px;
    }

    @include vp-mobile {
      width: 363px;
      height: 243px;
      left: calc(50% - 59px);
      top: 267px;
    }
  }

  &__div {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -6;
  }

  &__div--cup-shadow {
    z-index: -1;
    width: 666px;
    height: 494px;
    left: calc(50% + 8px);
    top: 311px;
    background: $color-onyx-15;
    filter: blur(50px);  

    @include vp-laptop {
      width: 472px;
      height: 350px;
      left: calc(50% - 6px);
      top: 220px;
      filter: blur(35px);
    }

    @include vp-tablet {
      display: none;
    }
  }

  &__svg-vawe {
    position: absolute;
    z-index: -4;
    left: 0;
    right: 0;
    width: 100%;
  }

  &__svg-vawe--advantages {
    height: 288px;
    top: -42px;
    color: $color-cornsilk;
  }

  &__div--advantages-wall {
    top: 240px;
    bottom: 0px;
    background-color: $color-cornsilk;
  }

  &__svg-vawe--technology-first {
    height: 288px;
    top: -1px;
    color: $color-cornsilk;
  }

  &__img--technology {
    bottom: 0;
    top: 10px;
    left: 0;
    width: 100%;
  }

  &__div--technology-shadow {
    z-index: -4;
    top: 10px;
    bottom: 0;
    background: $color-black-302;
  }

  &__svg-vawe--technology-second {
    height: 298px;
    bottom: -1px;
    color: $color-white;
  }

  &__svg-vawe--news {
    height: 298px;
    top: 0;
    color: $color-cornsilk;
    background-color: $color-white;
  }

  &__div--news-wall {
    top: 297px;
    bottom: 0;
    background-color: $color-cornsilk;
  }

  &__div--instagram-top-wall {
    top: -1px;
    height: 700px;
    background-color: $color-cornsilk;
  }

  &__svg-vawe--instagram {
    height: 872px;
    top: 268px;
    color: $color-ucla-gold;
    background-color: transparent;
  }

  &__div--instagram-bottom-wall {
    top: 685px;
    bottom: -1px;
    background-color: $color-ucla-gold;
  }

  &__div--footer-wall {
    top: -1px;
    height: 125px;
    background-color: $color-ucla-gold;
  }

  &__svg-vawe--footer {
    z-index: -6;
    height: 288px;
    top: 118px;
    color: $color-ucla-gold;
  }

  &__img--footer-corns {
    width: 769;
    height: 659px;
    top: -25px;
    left: calc(50% + 253px);

    @include vp-laptop {
      width: 477px;
      height: 477px;
      left: calc(50% - 904px);
      top: 1096px;
    }

    @include vp-tablet {
      width: 509px;
      height: 509px;
      left: calc(50% - 625px);
      top: 1672px;
    }

    @include vp-mobile {
      width: 249px;
      height: 249px;
      left: calc(50% - 306px);
      top: 1056px;
    }
  }

  &__img--footer-cup {
    width: 682px;
    height: 455px;
    left: calc(50% + 311px);
    top: 68px;
    z-index: -2;

    @include vp-laptop {
      width: 525px;
      height: 350px;
      left: calc(50% - 34px);
      top: 9px;      
    }

    @include vp-tablet {
      width: 524px;
      height: 393px;
      left: calc(50% - 140px);
      top: 446px;
    }

    @include vp-mobile {
      width: 363px;
      height: 243px;
      left: calc(50% - 59px);
      top: 267px;
    }
  }

}