.catalog-card {
  padding: 60px 35px 142px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  box-shadow: 0px 0px 30px 0px $color-philippine-gray-20;
  min-height: 539px;
  width: 400px;
  border-radius: 20px;
  background-color: $color-white;
  gap: 50px;

  &__image-wrapper {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    max-height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__title {
    font-family: $ff-gilroy;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: auto auto 0;
  }

  &__button {
    display: none;
  }
}

.catalog-card:hover {
  position: relative;
  padding: 60px 35px 65px;
  gap: 48px;

  .catalog-card__image-wrapper {
    position: absolute;
    top: -32px;
    width: 100%;
  }

  .catalog-card__title {
    font-size: 30px;
    line-height: 1.2;
  }

  .catalog-card__button {
    display: flex;
    width: 100%;
  }
}