.catalog-card {
  padding: 60px 35px 142px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  box-shadow: 0px 0px 30px 0px $color-philippine-gray-20;
  min-height: 539px;
  width: 400px;
  border-radius: 20px;
  background-color: $color-white;
  gap: 50px;

  @include vp-laptop {
    padding: 50px 23px 76px;
    box-shadow: 0px 0px 21.25px 0px $color-philippine-gray-20;
    border-radius: 14px;
    min-height: 381px;
    width: 280px;
    gap: 35px;
  }

  &__image-wrapper {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-laptop {
      height: 160px;
    }
  }

  &__picture {
    max-height: 100%;
  }

  &__image {
    max-height: 100%;
    width: 100%;
    overflow: hidden;

    @include vp-laptop {
      max-height: 100%;
    }
  }

  &__title {
    font-family: $ff-gilroy;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    margin: auto auto 0;

    @include vp-laptop {
      font-size: 18px;
      line-height: 23px;
      max-width: 200px;
      min-height: 45px;
    }
  }

  &__button {
    display: none;
  }
}

.catalog-card:hover {
  position: relative;
  padding: 60px 35px 65px;
  gap: 48px;

  @include vp-laptop {
    padding: 42px 23px 47px;
    gap: 35px;
  }

  .catalog-card__image-wrapper {
    position: absolute;
    top: -32px;
    width: 100%;

    @include vp-laptop {
      top: -20px;
    }
  }

  .catalog-card__title {
    font-size: 30px;
    line-height: 1.2;

    @include vp-laptop {
      font-size: 21px;
      line-height: 25px;
    }
  }

  .catalog-card__button {
    display: flex;
    width: 100%;
  }
}