.hero {
  flex-grow: 1;
  background: 
    url('../../images/background/bg-puddle-right.svg') top 0 right 0 no-repeat,
    url('../../images/background/bg-puddle-left.svg') top 1076px left 0 no-repeat;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}