.home-page {

  &__heading-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
    padding: 160px 0 0;
    margin: 0;
  }

  &__svg-puddle {
    color: $color-ucla-gold;
    position: absolute;
    z-index: -3;
  }


  &__svg-puddle--right {
    width: 1366px; 
    height: 1690px; 
    left: calc(50% + 265px);
    top: -155px;
    transform: rotate(10.63deg);
  }

  &__svg-puddle--left {
    width: 1191px; 
    height: 1349px; 
    left: calc(50% - 1698px);
    top: 1022px;
    transform: rotate(-173.67deg);
  }

  &__bg-img {
    z-index: -2;
    position: absolute;
  }

  &__bg-img--heading-corns {
    width: 900px;
    height: 773px;
    top: 192px;
    left: calc(50% - 158px)
  }

  &__bg-img--left-corns {
    width: 674px;
    height: 674px;
    top: 1547px;
    left: calc(50% - 1276px);
    filter: blur(5px);
  }

  &__bg-img--cup {
    width: 744px;
    height: 496px;
    z-index: 0;
    left: calc(50% - 46px);
    top: 267px;
  }

  &__bg-shadow {
    content: "";
    position: absolute;
    width: 666px;
    height: 494px;
    left: calc(50% + 8px);
    top: 311px;
    z-index: -1;
    
    background: $color-onyx-15;
    filter: blur(50px);  
  }
}