.home-page__heading-section {
  flex-grow: 1;
  background: 
    url('../../images/background/bg-puddle-right.svg') top 0 right 0 no-repeat,
    url('../../images/background/bg-puddle-left.svg') top 1076px left 0 no-repeat;
  margin: 0;
  padding: 160px 0 0;
}