.instagram {
  position: relative;
  width: 100%;
  padding: 60px 0 53px;
  margin: 0;
  color: $color-black;
  font-family: $ff-gilroy sans-serif;
  font-weight: 500;
  overflow: hidden;

  @include vp-laptop {
    padding: 27px 0 32px;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    gap: 57px;
    margin: 0 0 70px;

    @include vp-laptop {
      gap: 30px;
      margin: 0 0 52px;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;

    @include vp-laptop {
      font-size: 35px;
      line-height: 44px;
    }
  }

  &__link {
    width: 86px;
    height: 86px;

    @include vp-laptop {
      width: 60px;
      height: 60px;
    }
  }

  &__content {
    width: 100%;
    height: 784px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include vp-laptop {
      height: 555px;
    }
  }

  &__images {
    width: 700px;
    height: 100%;
    position: relative;

    @include vp-laptop {
      width: 500px;
    }
  }

  &__back-image {
    width: 650px;
    height: 844px;
    position: absolute;
    left: 48px;
    bottom: 3px; 

    @include vp-laptop {
      height: 600px;
      width: 450px;
      bottom: 0;
      left: 40px;
    }
  }

  &__front-image {
    width: 350px;
    height: 733px;
    position: absolute;
    left: 240px;
    bottom: -45px;

    @include vp-laptop {
      width: 300px;
      height: 520px;
      left: 140px;
      bottom: -32px;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 20px;
    width: 1240px;
    position: absolute;
    left: 700px;
    bottom: 0;

    @include vp-laptop {
      width: 880px;
      left: 500px;
      gap: 15px 20px;
    }
  }

  &__gallery-item {
    padding: 0;
    margin: 0;
    width: 400px;
    height: 382px;
    display: flex;

    @include vp-laptop {
      width: 280px;
      height: 270px;
    }
  }

  &__gallery-image {
    width: 100%;
    height: 100%;
  }

  &__button {
    position: relative;
    transform: translate(100%, -10px);
  }
}
