.main-nav {

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 100px;

    @include vp-laptop {
      gap: 66px;
    }

    @include vp-tablet {
      gap: 60px;
    }

    @include vp-mobile {
      gap: 30px;
    }
  }

  &__link {
    font-family: $ff-gilroy;
    font-weight: 500;
    font-size: 25px;
    line-height: 1;
    color: $color-black;
    flex-shrink: 0;

    @include vp-laptop {
      font-size: 18px;
    }

    @include vp-tablet {
      font-size: 25px;
    }

    @include vp-mobile {
      font-size: 12px;
    }
  }

  &__link:hover {
    border-bottom: 2px solid $color-ucla-gold;
  }
}