.news-card {
  display: flex;
  box-shadow: 0px 0px 30px 0px $color-philippine-gray-20;
  min-height: 400px;
  justify-content: space-between;
  max-width: 100%;
  border-radius: 20px;
  background-color: $color-white;

  @include vp-laptop {
    box-shadow: 0px 0px 21px 0px $color-philippine-gray-20;
    min-height: 282px;
    border-radius: 14px;
  }

  &__image-wrapper {
    display: flex;
    width: 336px;
    max-height: 100%;
    overflow: hidden;
    border-radius: 20px 0 0 20px;

    @include vp-laptop {
      width: 238px;
      border-radius: 14px 0 0 14px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__inner {
    padding: 62px 112px 35px 140px;
    width: 680px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: $ff-gilroy;
    color: $color-black;

    @include vp-laptop {
      padding: 51px 97px 30px 80px;
      width: 480px;
      gap: 28px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.3;
    margin: 0;
    padding: 0;

    @include vp-laptop {
      font-size: 18px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__paragraph {
    font-size: 20px;
    line-height: 1.3;
    margin: 0;
    padding: 0;

    @include vp-laptop {
      font-size: 14px;
    }
  }

  &__link {
    margin: auto auto 0 0;
    position: relative;
    bottom: 16px;
    left: -24px;

    @include vp-laptop {
      bottom: 6px;
      left: -17px;
    }
  }
}

.news-card--flat {

  .news-card__inner {
    padding: 40px 81px 0 84px;
    width: 624px;
    gap: 30px;

    @include vp-laptop {
      padding: 32px 57px 8px 60px;
      width: 442px;
      gap: 20px;
    }
  }

  .news-card__content {
    gap: 28px;

    @include vp-laptop {
      gap: 18px;
    }
  }
}