.overview {
  position: relative;
  width: 100%;
  padding: 160px 0 17px;
  margin: 0;
  color: $color-black;
  font-family: $ff-gilroy sans-serif;
  font-weight: 500;
  overflow: hidden;

  @include vp-laptop {
    padding: 113px 0 0;
  }

  @include vp-tablet {
    padding: 143px 0 0;
  }

  @include vp-mobile {
    padding: 70px 0 0;
  }

  &__hero-wrapper {
    padding: 70px 0 212px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    position: relative;

    @include vp-laptop {
      padding: 50px 0 153px;
    }

    @include vp-tablet {
      padding: 130px 0 50px;
    }
  }

  &__slider {
    align-self: end;
    margin: 0 0 36px;

    @include vp-laptop {
      margin: 0 0 27px;
    }

    @include vp-tablet {
      position: absolute;
      left: 0;
      bottom: 208px;
    }
  }

  &__hero-title {
    margin: 0 0 58px;
    padding: 0;
    max-width: 960px;
    font-weight: 900;
    font-size: 80px;
    line-height: 100px;

    @include vp-laptop {
      margin: 0 0 38px;
      font-size: 56px;
      line-height: 70px;
      max-width: 662px;
    }

    @include vp-tablet {
      margin: 0 0 80px;
      font-size: 50px;
      line-height: 62px;
      max-width: 470px;
    }
  }

  &__hero-content {
    margin: 0 0 86px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    max-width: 650px;

    @include vp-laptop {
      margin: 0 0 58px;
      max-width: 450px;
      gap: 20px;
    }

    @include vp-tablet {
      margin: 0 0 372px;
      max-width: 310px;
      gap: 30px;
    }
  }

  &__hero-paragraph {
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 1.3;

    @include vp-laptop {
      font-size: 18px;
    }

    @include vp-tablet {
      font-size: 20px;
    }

    &--accented-word {
      font-weight: 600;
      display: inline-block;
    }
  }

  &__hero-button {
    width: 400px;

    @include vp-laptop {
      width: 283px;
      margin: 0 0 0 2px;
    }

    @include vp-tablet {
      width: 100%;
    }
  }

  &__catalogs-wrapper {
    padding: 20px 0 49px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    @include vp-laptop {
      padding: 50px 0 13px;
    }

    @include vp-tablet {
      padding: 25px 0 67px;
      position: relative;
      height: 700px;
      box-sizing: border-box;
      justify-content: space-between;
    }
  }

  &__catalogs-title {
    margin: 0 0 78px;
    padding: 0;
    font-family: $ff-gilroy;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;

    @include vp-laptop {
      font-size: 35px;
      line-height: 44px;
      margin: 0 0 60px;
    }

    @include vp-tablet {
      font-size: 40px;
      line-height: 50px;
      margin: 0;
    }
  }

  &__catalogs-list {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;

    @include vp-tablet {
      position: absolute;
      width: 100vw;
      height: 100%;
      overflow: hidden;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      align-items: center;
      gap: 20px;
    }
  }

  &__catalogs-item {
    padding: 0;
    margin: 0;
    max-width: calc(25% - 15px);
    display: flex;

    @include vp-tablet {
      max-width: fit-content;
    }
  }

  &__catalogs-slider {
    display: none;

    @include vp-tablet {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
    }
  }

  &__products-wrapper {
    padding: 70px 0 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    @include vp-laptop {
      padding: 20px 0 0;
    }

    @include vp-tablet {
      padding: 37px 2px 0 0;
    }
  }

  &__products-title {
    text-align: right;
    margin: 0 0 47px;
    padding: 0;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;

    @include vp-laptop {
      font-size: 35px;
      line-height: 44px;
      margin: 0 0 35px;
    }

    @include vp-tablet {
      font-size: 40px;
      line-height: 50px;
      margin: 0 0 50px;
    }
  }

  &__products-paragraph {
    text-align: right;
    max-width: 1120px;
    margin: 0 0 75px;
    padding: 0;
    font-size: 25px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include vp-laptop {
      font-size: 18px;
      max-width: 780px;
      margin: 0 0 54px;
    }

    @include vp-tablet {
      font-size: 20px;
      max-width: 5000px;
      margin: 0 0 50px;
    }
  }

  &__paragraph-string{
    @include vp-tablet {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }

  &__products-cards {
    display: flex;
    margin: 0 0 52px auto;
    align-items: center;

    @include vp-laptop {
      margin: 0 0 30px auto;
    }
  }

  &__products-prev,
  &__products-next {
    margin: 0;
    padding: 0;
  }

  &__products-prev {
    position: relative;
    top: -25px;

    @include vp-laptop {
      top: -15px;
    }
  }

  &__products-next {
    position: relative;
    top: -15px;

    @include vp-laptop {
      top: -13px;
    }
  }

  &__products-list {
    display: flex;
    margin: 0 70px;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
    
    @include vp-laptop {
      margin: 0 39px;
      gap: 13px;
    }
  }

  &__products-item {
    padding: 0;
    margin: 0;
    max-width: calc(33.33% - 13.33px);
    display: flex;

    @include vp-laptop {
      max-width: calc(33.33% - 8.66px);
    }
  }

  &__products-link {
    margin: 0 112px 0 auto;

    @include vp-laptop {
      margin: 0 70px 0 auto;
    }
  }
}
