.overview {
  position: relative;
  width: 100%;
  padding: 160px 0 17px;
  margin: 0;
  color: $color-black;
  font-family: $ff-gilroy sans-serif;
  font-weight: 500;
  overflow: hidden;

  @include vp-laptop {
    padding: 113px 0 0;
  }

  @include vp-tablet {
    padding: 143px 0 0;
  }

  @include vp-mobile {
    padding: 70px 0 0;
  }

  &__hero-wrapper {
    padding: 70px 0 212px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    @include vp-laptop {
      padding: 50px 0 153px;
    }
  }

  &__slider {
    align-self: end;
    margin: 0 0 36px;

    @include vp-laptop {
      margin: 0 0 27px;
    }
  }

  &__hero-title {
    margin: 0 0 58px;
    padding: 0;
    max-width: 960px;
    font-weight: 900;
    font-size: 80px;
    line-height: 100px;

    @include vp-laptop {
      margin: 0 0 38px;
      font-size: 56px;
      line-height: 70px;
      max-width: 662px;
    }
  }

  &__hero-content {
    margin: 0 0 86px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    max-width: 650px;

    @include vp-laptop {
      margin: 0 0 55px;
      max-width: 450px;
      gap: 20px;
    }
  }

  &__hero-paragraph {
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 1.3;

    @include vp-laptop {
      font-size: 18px;
    }

    &--accented-word {
      font-weight: 600;
    }
  }

  &__hero-button {
    width: 400px;

    @include vp-laptop {
      width: 283px;
      margin: 0 0 0 2px;
    }
  }

  &__catalogs-wrapper {
    padding: 70px 0 24px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;

    @include vp-laptop {
      padding: 50px 0 13px;
    }
  }

  &__catalogs-title {
    margin: 0 0 78px;
    padding: 0;
    font-family: $ff-gilroy;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;

    @include vp-laptop {
      font-size: 35px;
      line-height: 44px;
      margin: 0 0 62px;
    }
  }

  &__catalogs-list {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
  }

  &__catalogs-item {
    padding: 0;
    margin: 0;
    max-width: calc(25% - 15px);
    display: flex;
  }

  &__products-wrapper {
    padding: 70px 0 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    @include vp-laptop {
      padding: 20px 0 0;
    }
  }

  &__products-title {
    text-align: right;
    margin: 0 0 47px;
    padding: 0;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;

    @include vp-laptop {
      font-size: 35px;
      line-height: 44px;
      margin: 0 0 39px;
    }
  }

  &__products-paragraph {
    text-align: right;
    max-width: 1120px;
    margin: 0 0 75px;
    padding: 0;
    font-size: 25px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include vp-laptop {
      font-size: 18px;
      max-width: 780px;
      margin: 0 0 30px;
    }
  }

  &__products-cards {
    display: flex;
    margin: 0 0 52px auto;
    align-items: center;

    @include vp-laptop {
      margin: 0 0 30px auto;
    }
  }

  &__products-prev,
  &__products-next {
    margin: 0;
    padding: 0;
  }

  &__products-prev {
    position: relative;
    top: -25px;
  }

  &__products-next {
    position: relative;
    top: -15px;
  }

  &__products-list {
    display: flex;
    margin: 0 70px;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
  }

  &__products-item {
    padding: 0;
    margin: 0;
    max-width: calc(33.33% - 13.33px);
    display: flex;
  }

  &__products-link {
    margin: 0 112px 0 auto;
  }
}
