.slider-corns {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include vp-laptop {
    gap: 6px;
  }

  &__item {
    color: $color-dark-liver;
    display: flex;
  } 

  &__svg {
    width: 19px;
    height: 19px;

    @include vp-laptop {
      width: 13px;
      height: 13px;
    }
  }
}