.technology {
  position: relative;
  width: 100%;
  padding: 218px 0 153px;
  margin: 0;
  color: $color-white;
  font-family: $ff-gilroy sans-serif;
  font-weight: 500;
  overflow: hidden;
  box-sizing: border-box;

  @include vp-laptop {
    padding: 150px 0 93px;
  }

  @include vp-tablet {
    padding: 0;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;

    @include vp-laptop {
      gap: 70px;
    }
  }


  &__title {
    margin: 0;
    padding: 0;
    max-width: 960px;
    font-weight: 900;
    font-size: 50px;
    line-height: 62px;

    @include vp-laptop {
      font-size: 35px;
      line-height: 44px;
      max-width: 520px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 27px;
    max-width: 1245px;

    @include vp-laptop {
      max-width: 880px;
      gap: 16px;
    }
  }

  &__paragraph {
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: start;

    @include vp-laptop {
      font-size: 18px;
    }
  }

  &__button {
    width: 400px;

    @include vp-laptop {
      width: 283px;
    }
  }
}
