.filter-form {
  display: flex;
  flex-direction: column;
  gap: 70px;

  &__inner {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    color: $color-black;
  }

  &__corns-block {
    background-color: $color-white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px $color-spanish-gray-c95-25;
    position: relative;
    width: 400px;
    padding: 43px 50px 70px 95px;

    &::before {
      content: "";
      background-color: $color-ucla-gold;
      border-radius: 10px;
      width: 15px;
      position: absolute;
      left: 30px;        
      top: 43px;
      bottom: 48px;
    }
  }

  &__corns-group {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 52px;
    margin: 0;
    padding: 0;
  }

  &__corns-groupname {
    font-weight: 700;
    color: $color-black;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 46px;
  }


  &__words-block {
    background-color: $color-white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px $color-spanish-gray-c95-25;
    position: relative;
    width: calc(100% - 420px);
    padding: 82px 135px 47px 95px;
    max-height: 526px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 23px 0;

    &::before {
      content: "";
      background-color: $color-ucla-gold;
      border-radius: 10px;
      height: 15px;
      left: 87px;
      right: 65px;
      top: 36px;
      position: absolute;
    }
  }

  &__words-group {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 0;
    margin: 0;
  }

  &__words-group:first-of-type {
    margin: 0 77px 0 0;
  }

  &__words-group:last-of-type {
    margin: 0 0 0 78px;
  }

  &__words-groupname {
    font-weight: 700;
    color: $color-black;
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 30px;
    max-width: 200px;
  }

  &__cards-group {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    gap: 20px;
    border: none;
    justify-content: space-between;
    width: 100%;
  }

  &__submit {
    align-self: start;
  }
}