.products {
  padding: 20px 0 97px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 70px 20px;
    flex-wrap: wrap;
    justify-content: start;
  }

  &__button {
    width: 100%;
  }
}